@page "/"

<h1>Blazor Strap</h1>
<p class="lead">Bootstrap Components for Blazor Framework</p>

<h2>Install</h2>

<a href="https://www.nuget.org/packages/BootStrapNet/"><img src="https://img.shields.io/nuget/vpre/BootStrapNet.svg" /></a>

<h3>Tag Helpers</h3>

<pre>@@addTagHelper *, BootStrap.Net</pre>

<h3>Bootstrap Version</h3>

<div class="alert alert-warning" role="alert">
            Blazor 0.3.0 ships with Bootstrap 4.0. BootStrap.Net uses Bootstrap 4.1. Replace bootstrap.min.css in wwwroot/css/bootstrap folder
        </div>

<h2>Docs</h2>

<ul>
    <li><a href="alerts">Alerts</a></li>
    <li><a href="badges">Badges</a></li>
    <li><a href="breadcrumbs">Breadcrumbs</a></li>
    <li><a href="buttons">Buttons</a></li>
    <li><a href="buttongroups">Button Groups</a></li>
    <li><a href="cards">Cards</a></li>
    <li><a href="carousels">Carousels</a></li>
    <li><a href="collapse">Collapse</a></li>
    <li><a href="dropdowns">Dropdowns</a></li>
    <li><a href="figures">Figures</a></li>
    <li><a href="forms">Forms</a></li>
    <li><a href="images">Images</a></li>
    <li><a href="jumbotrons">Jumbotrons</a></li>
    <li><a href="layout">Layout</a></li>
    <li><a href="listgroups">List Groups</a></li>
    <li><a href="media">Media</a></li>
    <li><a href="modals">Modals</a></li>
    <li><a href="navs">Navs</a></li>
    <li><a href="navbars">Navbars</a></li>
    <li><a href="pagination">Pagination</a></li>
    <li><a href="popovers">Popovers</a></li>
    <li><a href="progress">Progress</a></li>
    <li><a href="tables">Tables</a></li>
    <li><a href="tabs">Tabs</a></li>
    <li><a href="tooltips">Tooltips</a></li>
</ul>

<h2>Github</h2>

<p><a href="https://github.com/lisa3907/BootStrap.Net">https://github.com/lisa3907/BootStrap.Net</a></p>
<p class="text-center">
<a href="https://github.com/lisa3907/BootStrap.Net"><img src="https://img.shields.io/github/stars/lisa3907/BootStrap.Net.svg?style=social&label=Stars" /></a>
</p>