@inherits BootStrapComponentBase

@if (IsResponsive)
{
<div class="table-responsive">
    <DynamicElement Attributes="@UnknownParameters" TagName="table" class="@classname">
        @ChildContent
    </DynamicElement>
</div>
}
@if (!IsResponsive)
{
<DynamicElement Attributes="@UnknownParameters" TagName="table" class="@classname">
    @ChildContent
</DynamicElement>
}

@functions {
    string classname
    {
        get
        {
            var dark = IsDark ? "table-dark" : null;
            var striped = IsStriped ? "table-striped" : null;
            var bordered = IsBordered ? "table-bordered" : null;
            var borderless = IsBorderless ? "table-borderless" : null;
            var hovarable = IsHovarable ? "table-hover" : null;
            var small = IsSmall ? "table-sm" : null;
            return $"table {dark} {striped} {bordered} {borderless} {hovarable} {small} {Class}";
        }
    }
    [Parameter] public bool IsDark { get; set; }
    [Parameter] public bool IsStriped { get; set; }
    [Parameter] public bool IsBordered { get; set; }
    [Parameter] public bool IsBorderless { get; set; }
    [Parameter] public bool IsHovarable { get; set; }
    [Parameter] public bool IsSmall { get; set; }
    [Parameter] public bool IsResponsive { get; set; }
    [Parameter] public string Class { get; set; }
    [Parameter] public RenderFragment ChildContent { get; set; }
}