@inherits BootStrapComponentBase

<nav aria-label="breadcrumb">
    <DynamicElement Attributes="@UnknownParameters" TagName="ol" class="@classname">
        @ChildContent
    </DynamicElement>
</nav>

@functions {
    string classname
    {
        get
        {
            return $"breadcrumb {Class}";
        }
    }
    [Parameter] public string Class { get; set; }
    [Parameter] public RenderFragment ChildContent { get; set; }
}