@inherits BootStrapComponentBase

<DynamicElement Attributes="@UnknownParameters" TagName="button" class="@classname" aria-label="Toggle navigation" onclick="@Onclick">
    <span class="navbar-toggler-icon"></span>
</DynamicElement>

@functions {
    private string classname
    {
        get
        {
            return $"navbar-toggler {Class}";
        }
    }

    [Parameter] public Action<MouseEventArgs> Onclick { get; set; }
    [Parameter] public string Class { get; set; }
}