@using BootStrap.Net.Util

@inject Microsoft.JSInterop.IJSRuntime JSRuntime

<div ref="tooltip" class="tooltip" role="tooltip">
    <div ref="arrow" class="arrow"></div>
    <div class="tooltip-inner">@ChildContent</div>
</div>

@functions {
    //Didnt change this to use DynamicElement so that ref will still work
    private ElementReference tooltip;
    private ElementReference arrow;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (Target != null)
        {
            var placement = Placement.ToDescriptionString();
            await (new BootStrapNetInterop(JSRuntime)).Tooltip(Target, tooltip, arrow, placement);
        }
    }

    [Parameter] public Placement Placement { get; set; } = Placement.Auto;
    [Parameter] public string Title { get; set; }
    [Parameter] public string Target { get; set; }
    [Parameter] public RenderFragment ChildContent { get; set; }
}